body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    color: brown;

}

p {
    text-align: center;
    color: blueviolet;
}

h2 {
    color: brown;

}

button {
    border-color: brown;
    color: brown;

}

label {
    color: black;
}

.imagem {
    text-align: right;
    height: 00px;  
    border-color: black; 
}

img {
    width: 100px;
}